.section_inspiration {
  background-color: black;
  color: white;
  padding: 2rem;
}

.inspiration_title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.inspiration-container-wrapper {
  display: grid;
  gap: 1rem;
}

.inspiration-container {
  background-color: gray;
  height: 10rem;
}

/* Las primeras 3 cajas ocupan todo el ancho */
.inspiration-container-wrapper .inspiration-container:nth-child(-n + 3) {
  grid-column: span 3;
}

/* Las últimas 3 cajas comparten una fila */
.inspiration-container-wrapper .inspiration-container:nth-child(n + 4) {
  grid-column: span 1;
}

.section_inspiration h2 {
  font-size: 100px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  color: white; /* Cambia a blanco para que tenga color base */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Asegura que el texto sea transparente */
  text-align: center;
  display: inline-block;
}

.section_inspiration {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
}

.inspiration_title {
  font-size: 100px;
  font-weight: bold;
  position: relative;
  color: white; /* Un color base para el fondo del texto */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Hace el texto transparente */
  display: inline-block;
}

.lunares-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca los lunares detrás del texto */
}

.lunar {
  position: absolute;
  border-radius: 50%;
  opacity: 0.8; /* Opcional, para dar un mejor efecto */
}
